nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background: black;
    align-items: center;
}
nav button{
    margin: 5px;
    background-color: black;
    color: white;
    border: none;
}
.cart-icon
{
    color: white;
    background-color: orange;
    border: none;
    text-align: center;
    width:20px;
    border-radius: 10px;
    margin-right: 10px;
}
.cart-button
{
    /* display: flex; */
    /* align-items: center; */
    padding:5px
}
.cart-button{
    width: 30px;
    height: fit-content;
}
.userprofile
{
    padding-right: 10px;
    width: 30px;
    height: fit-content;
}

